$background-color: #F7F6F0;
$accent-color: #E66524;
$secondary-color: #00604E;
$tertiary-color: #8AD3EE;
$box-color:#F8BD14;
$button-color:#FFAEBB;

.container {
  background-color: $background-color;
}
 