@use "../abstracts/variables" as var;

.bread-invitation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px 40px;
    background-color: var.$background-color;
    overflow: hidden; 

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 90px 90px;
    }


    .invitation-text {
        text-align: center;
        max-width: 100%; 

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;

            span {
                color: #e66524;
            }

            @media (min-width: 768px) {
                font-size: 2rem;
            }
        }

        .underline {
            margin: 18px auto 0; 
            width: 100%; 
            max-width: 1300px;
            height: 25px;
            background-image: url('../images/dash.png');
            background-size: contain; 
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
